.menu{
  height: 4rem;
}
.menu ul{
  margin-left: 0.4rem;
}
.menu ul li{
  width: 24%;
  float: left;
  text-align: center;
  line-height: 3rem;
  background: #ccc;
  margin-left: 2px;
}
.menu ul li a{
  font-size: .9rem;
  color:#3c3c3c;
}
.box{
  width: 23.8%;
  margin-left: .5rem;
  margin-top: -1rem;
  opacity: .9;
  position: absolute;top:4rem;
  right: .45rem;
}
.box ul li{
  background: #939393;
  text-align: center;
  margin-bottom: 1px;
}
.box ul li a{
  color:#fff;
  font-size: .6rem;
}
.content{
  width: 96%;
  margin:0 auto;
}
.content_1{
  height: 22rem;
}
.content_1 div:nth-child(2){
  height: 13.5rem;
  width: 360px;
  background: red;
  background: url(../img/online/buju.png);
  background-size: 100%;
}
/* .content_1 ul{
  margin-top: -.5rem;
}
.content_1 ul li{
  background:#fff;
  width: 16%;float: left;
  height: 1.8rem;
  font-size: .8rem;
  text-align: center;
  line-height: 1.8rem;
  border-radius: 8%;
  margin:.3rem 1rem;
  color:#f72;
  box-shadow: 1px 3px 6px #ccc;
} */
#ul2 li{
  background: #e6e6e6;
  height: 4rem;position: relative;
  margin-bottom: .5rem;
}
.div1{
  border: 1px solid #ccc;
  width: 14%;text-align: center;
  box-shadow: 0 0 4px #111;
  position: absolute;top:.6rem;left: .5rem;
}
.div2{
  position: absolute;top:1rem;left: 4.5rem;
  top: 1.6rem;
  color:#f72;font-size: .6rem;
}
.div3{
  font-size: .8rem;
  position: absolute;top:1rem;left: 8.5rem;
}
.div4{
  position: absolute;top:1.2rem;right: 1.5rem;
}
.sub_div2{
  text-align: center;
  margin:1.5rem 0;
  font-size: .6rem;
}
.sub_div2 a{
  color:#333;
  font-size: .8rem;
  margin:.5rem 1rem 0 1rem;
}
.content_3 p{
  text-align: center;
  color:#333;
  font-size: .6rem;
  margin:0 0 .8rem 0;
}
.content_4 p{
  color: #f72;
  font-size: .8rem;
  text-align: center;
  margin-top: 1rem;
}
.b_g{
  width: 30%;height: 2rem;
  margin:1rem 0 1rem 0;
  border:2px solid #f72;
  font-size: .9rem
  text-align: center;
  line-height: 2rem;
  color:#fcaa7b;
  border-radius: 6px;
}
.content_5 div:nth-child(2){
  height: 260px;background:url(../img/online/this.png);
  background-size:100%;
}
@media screen and (min-width: 320px) and (max-width: 374px){
  #ul li{
    width: 20%;
    margin:.3rem .4rem;
  }
  .content_1 div:nth-child(2){
    height: 11.6rem;
    width: 310px;
    }
  .content_5 div:nth-child(2){
    height: 230px;
  } 
}
@media screen and (min-width: 414px){
 .content_1 div:nth-child(2){
   height: 15.1rem;
   width: 404px;
   } 
  .content_5 div:nth-child(2){
    height: 290px;
  }
}