
.c1{
  text-align: center;
  padding: 2rem 2rem;
  color:#333;
  font-size: .8rem;
  background: #f0f0f0;
}
.c2{
 
}
.ct_1{
  background: #f72;
  line-height: 2.5rem;
  text-align: center;
  color: #fff;
  width: 60%;
  margin:0 auto;
  border-radius: .3rem;
}
.c2_c{
  width: 92%;
  height: 15rem;
  margin:0 auto;
  background: #fff;
}
.c2_c div:nth-child(1){
  border:1px solid #f72;
  text-align: center;
  color:#f72;
  font-size: 1rem;
  border-radius: .2rem;
  margin-top: 1rem;

}
/*table*/

table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:10px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
    font-weight: 500;
    margin-top: .4rem;
  }
  table.gridtable th {
    border-width: 1px;
    padding: .55rem;
    color:#fff;
    border-style: solid;
    border-color: #fff;
    background-color: #ff9654;
  }
  table.gridtable td {
    border-width: 1px;
    padding: 10px 5.2rem;
    color:#333;
    text-align: center;
    border-style: solid;
    border-color: #fff;
    background-color: #ccc;
  }
#table td:nth-child(odd){
  background:#f72;
  color:#fff;
  padding: .55rem 1.8rem;
}