
.b_g{
  width: 30%;height: 2rem;
  margin:1rem 0 1rem 0;
  border:2px solid #f72;
  font-size: .9rem;
  text-align: center;
  line-height: 2rem;
  color:#fcaa7b;
  border-radius: 6px;
}
.content_1 div:nth-child(2){
  height: 13.5rem;
  width: 360px;
  background: red;
  background: url(../img/online/buju.png);
  background-size: 100%;
}