.menu{
  height: 4rem;
}
.menu ul{
  margin-left: 0.4rem;
}
.menu ul li{
  width: 24%;
  float: left;
  text-align: center;
  line-height: 3rem;
  background: #ccc;
  margin-left: 2px;
}
.menu ul li a{
  font-size: .9rem;
  color:#3c3c3c;
}
.box{
  width: 23.8%;
  margin-left: .5rem;
  margin-top: -1rem;
  opacity: .9;
}
.box ul li{
  background: #939393;
  text-align: center;
  margin-bottom: 1px;
}
.box ul li a{
  color:#fff;
  font-size: .6rem;
}
