@charset "utf-8";

body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,a,code,em,img,q,small,strong,dd,dl,dt,li,ol,ul,fieldset,form,label,table,tbody,tr,th,td,input{margin:0;padding:0;border:0}
html{
  font-style: 62.5%;
}
body{
  font-family: Microsoft YaHei;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
.wrap{
  width: 100%;
  height: 100%;
  max-width: 768px;
}
.win_bank{
  width: 25px;
  height: 25px;
  float: right;
  margin-right: 1.5rem;
}
@media screen and (min-width: 320px) and (max-width: 374px){
  .wrap{
    max-width: 320px;
  }
}

@media screen and (min-width: 375px) and (max-width: 413px){
  .wrap{
    max-width: 375px;
  }
}

@media screen and (min-width: 414px) and (max-width: 960px){
  .wrap{
    max-width: 414px;
  }
}

